{% extends "base.html" %}
{% block content %}

{% if puzzle.word == user.profile.masked_word %}
<h1>You win!</h1>
<p>the word you had to guess is {{puzzle.word}}</p>
<li><a href="{% url 'game_app:user_profile_detail' user.profile.pk %}" class="btn btn-simple">Продовжити відгадування нових слів?</a></li>
  {%elif user.profile.number_of_attempts_to_guess == 0 %}
    <h1>Game over :(</h1>
    <a href="{% url 'game_app:new-game' puzzle.pk %}">New game?</a>
  {%else%}
  <div class="page-header">
  <h1> {{ user.username }}, <small> Нижче орис слова для відгадування. Вибери у полях нижче номер букви та саму букву</small></h1>
</div>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <strong>Опис:</strong>
        {{ puzzle.description }}
      </div>
    </div>

{% if condition_string %}
    {% if condition_string == 'You have quessed it!' %}
          <div class="alert alert-success" role="alert">{{ condition_string }} </div>
    {% else %}
          <div class="alert alert-warning" role="alert">{{ condition_string }} </div>
        {endif}

    {% endif %}
    {%else%}
    <strong>Зроби свій вибір!</strong> <br>
    {% endif %}
    <br>
    Number of number of attempts: {{user.profile.number_of_attempts_to_guess }}
    <br>
    {{ user.profile.masked_word }}
    <br>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}  {# Display the form fields as paragraphs, adjust as needed #}
      <button type="submit">Submit</button>
    </form>
{% endif %}

{% endblock %}
