{% extends "base.html" %}
{% block content %}

{% if word.word == user.profile.masked_word %}
<h1>Це перемога!</h1>
<p>Відгадане слово {{word.word}}</p>
<li><a href="{% url 'game_app:category_list' %}" class="btn btn-simple">Продовжити відгадування нових слів?</a></li>

  {%elif user.profile.number_of_attempts_to_guess == 0 %}
    <h1>Це нажаль програш :(</h1>
    <a href="{% url 'game_app:new-game' category=word.category pk=word.pk %}">Нова гра?</a>
  {%else%}
  <div class="page-header">
  <h1> {{ user.username }}, <small> Нижче орис слова для відгадування. Вибери у полях нижче номер букви та саму букву</small></h1>
</div>
  <div class="container">
    <!-- <div class="alert alert-info" role="alert">Кількість спроб на відгадування: {{ user.profile.number_of_attempts_to_guess }} </div> -->
    <div class="panel panel-default">
      <div class="alert alert-info" role="alert">Кількість спроб на відгадування: {{ user.profile.number_of_attempts_to_guess }} </div>
      <div class="panel-body">
        <strong>Опис слова яке треба відгадати:</strong>
        {{ word.description }}
      </div>
    </div>

{% if condition_string %}
    {% if condition_string == 'You have quessed it!' %}
          <div class="alert alert-success" role="alert">{{ condition_string }} Зашифроване слово: <strong>{{ user.profile.masked_word }}</strong> </div>
    {% else %}
          <div class="alert alert-warning" role="alert">{{ condition_string }}Зашифроване слово: <strong>{{ user.profile.masked_word }}</strong> </div>
    {% endif %}
{%else%}

      <div class="well"> Зашифроване слово: <strong>{{ user.profile.masked_word }}</strong> . Зроби свій вибір</div>
      <!-- <div class="alert alert-info" role="alert"> Зроби свій вибір! </div> -->
{% endif %}

    <br>

    <form method="post" >
      {% csrf_token %}

      <div class="form-group">
        <label for="exampleInputEmail1">Номер літери</label>
          <div class="form-group">
          {{ form.number_of_letter}}

          </div>
      </div>
      <label for="exampleInputEmail1">Літера</label>
      <div class="form-group">
          {{ form.letter}}

          </div>
          <button type="submit" class="btn btn-primary">Відгадати</button>
      </div>


  </form >


{% endif %}

{% endblock %}
