{% extends "base.html" %}
{% load custom_filters %}
{% block content %}

<h1>Players List</h1>
<div>
    <!-- Display the Plotly chart -->
    {{ chart_html|safe }}
</div>

{% endblock %}

{% block extra_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get the Plotly chart element
        var plotlyChart = document.querySelector('.js-plotly-plot');

        // Add click event listener to the chart
        plotlyChart.on('plotly_click', function (eventData) {
            // Get the clicked data point
            var point = eventData.points[0];

            // Extract player ID from customdata
            var playerId = point.customdata[0];

            // Construct the URL for the player's page
            var playerUrl = '{% url "game_app:player_page" pk=0 %}'.replace('0', playerId);

            // Navigate to the player's page
            window.location.href = playerUrl;
        });
    });
</script>
{% endblock %}
