{% extends "base.html" %}
{% load custom_filters %}
{% block content %}

<h1>Рейтинг чемпіонів</h1>
<div>
  <div class="alert alert-info" role="alert"> Шановний, {{user.username}}, твоє місце {{ user.profile.rating}} з {{players_number}} </div>
    <!-- Display the Plotly chart -->
    {{ chart_html|safe }}
</div>

<div class="Lis of players">
  <h2>Список</h2>


<ol class="list-group">


    {% for player in players %}
        {% if player.profile %}
       <a href="{% url 'game_app:player_page'  pk=player.pk %}" class="list-group-item">
            <li> {{player.username}}. Кількість відгаданих слів:<span class="badge">{{player.profile.number_of_guessed_words}}</span> </li>
        </a>


       {% with my_list=player.profile.guessed_words.all %}
           {% with statistics=my_list|group_by:'guessed_category' %}
               {% for category, count in statistics.items %}
               <ul  class="list-group" style="margin-left: 30px;">
                   <li>{{ category }}: {{count}}</li>


                </ul>
               {% endfor %}
           {% endwith %}
       {% endwith %}



       {%endif%}

    {% endfor %}
    </ol>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get the Plotly chart element
        var plotlyChart = document.querySelector('.js-plotly-plot');

        // Add click event listener to the chart
        plotlyChart.on('plotly_click', function (eventData) {
            // Get the clicked data point
            var point = eventData.points[0];

            // Extract player ID from customdata
            var playerId = point.customdata[0];

            // Construct the URL for the player's page
            var playerUrl = '{% url "game_app:player_page" pk=0 %}'.replace('0', playerId);

            // Navigate to the player's page
            window.location.href = playerUrl;
        });
    });
</script>
{% endblock %}
