{% extends "base.html" %}
{% load custom_filters %}
{% block content %}


<div class="container">
  <div class="row">
    <div class="page-header">
  <h1> {{user.username}}, Тут рейтинг гравців: </h1>
</div>
    {% for player in players %}
     <ul class="list-group">

       <a href="{% url 'game_app:player_page'  pk=player.pk %}" class="list-group-item">{{player.username}}. Кількість відгаданих слів {{player.profile.number_of_guessed_words}}</a>

       {% with my_list=player.profile.guessed_words.all %}
           {% with statistics=my_list|group_by:'guessed_category' %}
               {% for category, count in statistics.items %}
                   <li>{{ category }}: {{ count }}</li>
               {% endfor %}
           {% endwith %}
       {% endwith %}


              </ul>


    {% endfor %}

</div>

{% endblock %}
