{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">

        <div class="page-header">
            <h1> Гравець: {{player.username}} </h1>
            <br>
            Кількість відгаданих слів: {{player.profile.number_of_guessed_words}}:
            <br>

            <img src="{{ player.profile.profile_picture.url }}" alt="{{ player.username }}'s Profile Picture" class="img-thumbnail" style="max-width: 150px;">
            
            <br>
            {% for category, count in statistics.items %}
                <li>{{ category }}: {{ count }}</li>
            {% endfor %}

            {% if player == user %}
                <a href="{% url 'game_app:edit_user' pk=player.pk %}" class="btn btn-primary">Edit Personal Details</a>
            {% endif %}
        </div>

        {% if player == user %}
            {% for item in guessed_words %}
                "Відгадане слово: {{item.0}} з категорії {{item.1}}"
                <br>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
